<!-- About Section -->
<section class="p-5 text-center text-white" id="about">


    <h2>About</h2>
    <img src="../../../assets/images/sun.gif" class="img-fluid rounded m-3" width="300" height="300">
    <div style="margin:auto;width:70%">
      <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem
        ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum.
        Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt
        sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
        fringilla.</p>
      <p class="fs-5 text-danger bg-dark bg-opacity-50">Do not hesitate to contact me!</p>
      <div class="w3-section">
        <a routerLink="/contact" class="btn btn-lg btn-danger"><i class="fa fa-comments"></i> Contact Me!</a>
      </div>
    </div>
    <br>
</section>