<div class="container pt-5">
	<div class="text-center">
		<h2 class="headline pb-5">Welcome to <b>{{title}}</b> </h2>
		<br>
	</div>
	<div class="row">
		<div class="col-sm-1 col-md-1 col-lg-3 col-3 ">
		</div>
		<div class=" col-sm-10 col-md-10 col-lg-6 col-6">
			<div class="card text-bg-dark text-white mb-3">
				<a href="../../../assets/images/sun.gif" target="_blank">
					<img src="../../../assets/images/sun.gif" class="card-img-bottom img-fluid rounded" alt="Another {{title}}" title="Card title">
				</a>
				<div class="card-body">
					<h5 class="card-title pacifico-font">Card title</h5>
					<p class="card-text dancing-font">This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Uploaded at: 4:15 PM</small></p>
				</div>
			</div>
		</div>
	</div>
</div>