<div class="container pt-5">
	<div class="text-center">
		<h2 class="headline pb-5">Welcome to <b>{{title}}</b> </h2>
		<br>
	</div>
	<div class="row" *ngFor="let artwork of artworks$ | async">
		<div class="col-sm-1 col-md-1 col-lg-3 col-3 ">
		</div>
		<div class=" col-sm-10 col-md-10 col-lg-6 col-6">
			<div class="card text-bg-dark text-white mb-3">
				<a [href]="artwork.AW_GIF" target="_blank">
					<img [src]="artwork.AW_GIF" class="card-img-bottom img-fluid rounded" alt="Another {{title}}">
				</a>
				<div class="card-body">
					<h5 class="card-title dancing-font"><b>{{artwork.AW_TITLE}}</b></h5>
					<p class="card-text" style="font-style: italic;">{{artwork.AW_DESC}}</p>
					<p class="card-text float-end" style="font-size: 12px;"><small class="text-muted">Uploaded on: {{artwork.AW_POST_TIME | date}}, {{artwork.AW_POST_TIME | date:'shortTime'}}</small></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	watermark(['../../../assets/images/sun.gif'])
  .image(text.lowerRight('watermark.js', '48px Josefin Slab', '#fff', 0.5))
  .then(function (img) {
    document.getElementById('lower-right').appendChild(img);
  });
         
	// place a watermark in the upper left hand corner of an image
	watermark(['/img/coffee.jpg', '/img/logo.png'])
		.image(function (image, logo) {
			var context = image.getContext('2d');
			context.save();

			context.globalAlpha = alpha;
			context.drawImage(logo, 10, 10);

			context.restore();
			return target;
		});
</script>