<div class="container">     <!--This container class is custom styled in CSS-->
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="/home" class="btn btn-danger btn-lg">
                        <i class="fa fa-home"></i>
                        Back To Home
                    </a>
                    <a routerLink="/contact" class="btn btn-secondary btn-lg">
                        <i class="fa fa-envelope"></i>
                        Contact Me
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>