<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex navbar-nav me-4">
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/twitch">Twitch Overlay</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/wallpaper">Animated Wallpaper</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/about">About</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/contact">Contact Me</a>
      </div>
    </div>
  </div>
</nav>

<div [ngSwitch]="color" class="mt-1">
  <body class="container-fluid bg-danger text-dark" *ngSwitchCase="0">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-success text-white" *ngSwitchCase="1">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-danger text-white" *ngSwitchCase="2">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-warning text-black" *ngSwitchCase="3">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-primary text-white" *ngSwitchCase="4">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-secondary text-white" *ngSwitchCase="5">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-success text-dark" *ngSwitchCase="6">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-dark text-white" *ngSwitchCase="7">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid text-white" *ngSwitchDefault>
    <router-outlet></router-outlet>
  </body>
</div>

<footer  class="container-fluid bg-danger text-white sticky-bottom">
  <p class="text-center">Copyrights 2022</p>
</footer>