<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex navbar-nav me-4">
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/home">
          <i class="fa fa-home"></i> Home</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/twitch">
          <i class="fa fa-twitch"></i> Twitch Overlays</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/wallpaper">
          <i class="fa fa-image"></i> Animated Wallpaper</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/about">
          <i class="fa fa-info-circle"></i> About</a>
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/contact">
          <i class="fa fa-comments"></i> Contact</a>
      </div>
    </div>
  </div>
</nav>

<div [ngSwitch]="color" class="mt-1">
  <body class="container-fluid bg bg1" *ngSwitchCase="0">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg2" *ngSwitchCase="1">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg3" *ngSwitchCase="2">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg4" *ngSwitchCase="3">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg5" *ngSwitchCase="4">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg6" *ngSwitchCase="5">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg7" *ngSwitchCase="6">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg8" *ngSwitchCase="7">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg9" *ngSwitchCase="8">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg bg10" *ngSwitchCase="9">
    <router-outlet></router-outlet>
  </body>
  <body class="container-fluid bg-dark text-white" *ngSwitchDefault>
    <router-outlet></router-outlet>
  </body>
</div>

<footer  class="container-fluid bg-danger text-white">
  <p class="text-center pt-2"><i class="fa fa-copyright"></i> Copyrights 2021-{{year|date:'yyyy'}} | <small> <a routerLink="/home">{{title}}</a> - All rights reserved</small></p>
</footer>