/* You can add global styles to this file, and also import other style files */
body{
  user-select: none;
}
.build-link{
  cursor: pointer;
  text-decoration: none;
}
.dancing-font{
  font-family: 'Dancing Script', serif;
}
.pacifico-font{
  font-family: 'Pacifico', serif;
}