<div class="container pt-5">
	<div class="text-center">
		<h2 class="headline pb-5">Welcome to <b>{{title}}</b> </h2>
		<br>
	</div>
	<div class="row"  *ngFor="let twitch of twitchs$ | async">
		<div class="col-sm-1 col-md-1 col-lg-3 col-3 ">
		</div>
		<div class=" col-sm-10 col-md-10 col-lg-6 col-6">
			<div class="card text-bg-dark text-white mb-3">
				<video loop autoplay class="ratio ratio-16x9" oncontextmenu="return false;">
          <source [src]="twitch.TW_VID" type="video/mp4">
          Your browser does not support the video.
        </video>
				<div class="card-body">
					<h5 class="card-title dancing-font">{{twitch.TW_TITLE}}</h5>
					<p class="card-text" style="font-style: italic;">{{twitch.TW_DESC}}</p>
					<p class="card-text float-end" style="font-size: 12px;"><small class="text-muted">Uploaded on: {{twitch.TW_POST_TIME | date}}, {{twitch.TW_POST_TIME | date:'shortTime'}}</small></p>
				</div>
			</div>
		</div>
	</div>
</div>